* {
  margin: 0;
  padding: 0;

  /* Variables*/
  --principal-color: #fff;
  --secundary-color: #DDEBFF;
}

li {
  text-decoration: none;
}

body {
  background-color: var(--principal-color);
}

.sidebar {
  background-color: var(--secundary-color);
}