* {
    margin: 0;
    padding: 0;
    color: var(--principal-text-color);

    /* Variables*/
    --principal-color: #fff;
    --secundary-color: #9dc6ff;
    --principal-text-color: #000;
}

ul {
    border-top: solid 1px;
}

li {
    text-decoration: none;
    display: flex;
    cursor: pointer;
    line-height: 2;
    padding: 0;
}

li:hover {
    color: brown;
}

nav {
    width: 15rem;
    height: 100vh;
    display: flexbox;
    position: sticky;
}

img {
    display: flex;
    border-radius: 30%;
    width:100%;
    height: 7rem;
}
body {
    background-color: var(--principal-color);
    font-size: medium;
}

/*                  Sidebar Styles              */
.sidebar {
    background-color: var(--secundary-color);
}
  
.collection {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 550;
}
.category {
    margin-left: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    padding-left: 1rem;
}
/*              Dashboard Styles            */
.dashboard {
    display: grid;
    grid-template-columns: 15rem 1fr; /* Size of Navbar and 1 rem for padding*/
    gap: 1rem;
}
.header-dashboard {
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
}
.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.filter h3 {
    font-size: larger;
}
.filter div{
    display: flex;
    flex-direction: column;
}
.filter div select {
    margin-bottom: 0.4rem;
}

/*              TaskComponet Task           */
.todayTask{
    display: flex;
    flex-direction: column;
}
.taskList {
    width: 60vw;
    padding-left: 10vw;
}

.task {
    border-bottom: 1px solid;
    border-bottom-right-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 3rem;
}
.task-title {
    font-size: large;
}
.task-description {
    font-size: small;
    padding-left: 1rem;
}
.task-date {
    padding: 0.5rem 0 0 1rem;
}
.task-category {
    align-self: flex-end;
    color: #5c5c5c
}

/*              Responsive Queries */

@media(width > 1400px) { /* Nornal Styling*/

}
@media(width < 1400px) {
    body {
        font-size: small;
    }
    nav {
        width: 10rem;
    }
    .header-dashboard {
        padding-top: 6rem;
    }
    .dashboard {
        grid-template-columns: 10rem 1fr;/* Size of Navbar and 1 rem for padding*/
    }
    img {
        height: 5rem;
    }
}

@media(width < 768px) {
    body {
        font-size: x-small;
    }
    nav {
        gap: 1rem;
        width: 6rem;
    }
    img {
        height: 3rem;
    }
    .header-dashboard {
        padding-top: 4rem;
    }
    .dashboard {
        grid-template-columns: 6rem 1fr;/* Size of Navbar and 1 rem for padding*/
    }
}
